div#nav-panel{
width:260px;
border:1px solid #bbb;
position:absolute;
left:0;
top:0;
}
div#nav-panel:hover{
background-color:#eee;
}
div.info{
padding:10px;
font-weight:normal;
font-size:15px;
}
div#content-panel{
padding:20px;
width:640px;
border:1px solid #ccc;
float:right;
}
div#content-panel:hover{
background-color:#eee;
}
div#shelf div.thumbnail{
width:180px;
height:300px;
}
div#shelf div.thumbnail h4{
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
div#shelf div.thumbnail{
text-overflow:clip;
}
div#shelf div.thumbnail p{
color:#555;
}
div#shelf div.thumbnail:hover{
background-color:white;
box-shadow:0 0 8px #66f;
}
div#shelf a.page_index{
border:2px solid #999;
padding:5px;
margin-left:5px;
margin-right:5px;
font-size:18px;
}
div#shelf a.page_index:hover{
background-color:white;
border:2px solid #333;
box-shadow:0 0 5px white;
}
div#shelf span.disabled{
color:#aaa;
border:2px solid #aaa;
padding:8px;

}


div.status{
padding:8px;
background-color:#ccc;
font-size:18px;
border-radius:10px;
}
